$max_device_width_laptop: 1199px;
$max_device_width_tablet: 1023px;
$max_device_width_mobile: 767px;

$device_width_desktop: 1200px;
$device_width_laptop: 100%;
$device_width_tablet: 700px;
$device_width_mobile: 100%;

$color-primary: #74B10C;
$color-secondary: #B10C0C;

$color-light-m: #E5E5E5;
$color-light-l: #F7F7F7;
$color-light-xl: #FFFFFF;

$color-dark-m: #666666;
$color-dark-l: #323536;
$color-dark-xl: #000000;